/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2015, 5:47:47 PM
    Author     : Indunil
*/
.body{
    background-color: #ccffff;
}

.startpage_header{
    height: auto;
    color: white;
    padding-top: 10px;
    background-color: #000066;
    border: solid 2px #cccccc;
    text-align: center;
    border-radius: 10px;
    font-family: trebuchet ms;    
    font-size: 70px;
}

.startpage_header_hr{
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    border: solid 2px white;
}

.startpage_heaader_div1{
    font-family: trebuchet ms;    
    font-size: 25px;
    color: #999999;
}

.startpage_body_div{
    height: auto;
    color: white;
    padding: 20px 20px 20px 20px;
    background-color: #D46A6A;
    border-radius: 10px;
    font-family: trebuchet ms;
}
